<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/master.css">
  </head>
  <body>

    <div class="login-box">
      <img src="/static/img/logo1.png" class="avatar" alt="Avatar Image">
      <h1>Crea una cuenta como:</h1>
      <form>
        <a href="/cliente" class="btn btn_secondary">Cliente</a>
        <br>         
        </br>
        <a href="/vendedor" class="btn btn_secondary">Vendedor</a>
        <br>         
    </div>
  </body>
</html>
