<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/master.css">
  </head>
  <body>
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p> {{msg}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
  
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="login-box">
      <h1 class="cuenta-vendedor">Cuenta Vendedor</h1>
      <form action="/add_registro_vendedor", method="post">
        <div class="form-group">
          <input type="text" name="nombres" placeholder="Nombres" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="RUC" placeholder="R.U.C del negocio" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="distrito" placeholder="Distrito" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="direccion" placeholder="Direccion" class="form-control">
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Cuenta de correo electronico" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="telefono" placeholder="Telefono" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="contraseña" placeholder="Contraseña" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary btn-block"></button>
        </div>

        
      </form>
    </div>
  </body>
</html>
